{
  "extends": ["react-app", "plugin:prettier/recommended", "prettier/react"],
  "globals": {
    "window": true,
    "__DEV__": true,
    "__PROD__": true,
    "__TEST_ENV__": true,
    "__MASTER_ENV__": true,
    "GLOBAL": true
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "jsx-a11y/href-no-hash": [0],
    "no-unused-vars": "off",
    "indent": "off",
    "quotes": ["error", "single"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "semi": ["error", "always"]
  }
}
